<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DefinedConfigsDirectoryPath" value="\\SharedLocation\DefinedConfigs" />
    <add key="CurrentConfigAppDataSubdirectory" value="MyApp" />
    <add key="ConfigFileName" value="MyApp.exe.config" />
  </appSettings>
</configuration>